{% extends "base.html" %}
{% load static %}

{% block title %}딸기 마켓 - 사용자 작성 상품 목록{% endblock %}

{% block content %}
<div class="container mt-4">
    <div id="profile-info" data-username="{{ profile_user.username }}">
    </div>
    
    <h2>{{ profile_user.username }}님의 작성한 상품 목록</h2>
    <div id="user-products-list" class="product-list d-flex flex-wrap mt-4">
        <!-- 상품 목록이 채워질 예정 -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/user_products.js' %}"></script>
{% endblock %}
