/* 기본 스타일 */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* 공통 Header 스타일 */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/* 로고 스타일 */
.logo {
    height: 50px;
    cursor: pointer;
}

/* 네비게이션 메뉴 스타일 */
.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.nav-link:hover {
    color: #ff5722;
}

/* '내 상점'과 '1:1 채팅' 스타일 */
.mypage-link .nav-link,
.chat-link .nav-link {
    font-size: 20px;  /* 폰트 크기 조금 키움 */
    font-weight: 600; /* 글씨 굵게 */
    color: #333;
}

.mypage-link .nav-link:hover,
.chat-link .nav-link:hover {
    color: #ff5722;  /* hover 시 색상 */
}

/* 회원가입, 로그인, 상품등록 버튼 스타일 */
.btn-primary  {
    background-color: #b88e2f; /* 금색 계열 */
    border: none;
}

.btn-primary:hover {
    background-color: #99751f;  /* Hover 시 더 어두운 금색 */
}

.btn-secondary {
    background-color: #6c757d; /* 회색 계열 */
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Hover 시 더 어두운 회색 */
}

.btn-outline-dark {
    color: #333;
    border: 2px solid #333; 
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #333; /* Hover 시 배경색을 검정색으로 */
}

/* '상품 등록' 버튼 스타일 */
.btn-danger {
    background-color: #333; /* 검정색 계열 */
    border: none;
}

.btn-danger:hover {
    background-color: #000; /* Hover 시 더 어두운 검정색 */
}

/* 검색창 스타일 */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 검색창을 전체적으로 가운데 정렬 */
    margin-left: 50px;
}

#search-input {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 300px;
    margin-right: 8px;
}

#search-button {
    padding: 10px 16px;
    background-color: #f06292;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #ec407a;
}

/* Container 공통 스타일 */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer 스타일 */
footer {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    font-size: 16px;
}

footer p {
    margin: 0;
    color: #9f9f9f;
}
