/* 기본 스타일 */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* 공통 Header 스타일 */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 50px;
    cursor: pointer;
}

/* 네비게이션 메뉴 스타일 */
.header-content nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.header-content nav ul li {
    margin: 0 15px;
}

.header-content nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    font-size: 18px;
}

.header-content nav ul li a:hover {
    color: #ff5722;
}

/* 검색창 스타일 */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto; /* 네비게이션과 회원가입/로그인 사이에 공간 생성 */
}

#search-input {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 250px;
    margin-right: 8px;
}

#search-button {
    padding: 8px 16px;
    background-color: #f06292;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* 회원가입 및 로그인 버튼 그룹 */
.navbar-collapse {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
}

.nav-item a, .product-register-btn {
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2c2c2c;
    transition: background-color 0.3s ease;
}

.nav-item a:hover, .product-register-btn:hover {
    background-color: #1e1e1e;
}

/* 회원가입과 로그인 버튼 스타일 */
.signup-link a, .login-link a {
    background-color: #3498db;
    margin-right: 10px;
}

.signup-link a:hover, .login-link a:hover {
    background-color: #2980b9;
}

/* 상품 등록 버튼 스타일 */
.product-register-btn {
    margin-left: 10px; /* 버튼 간격 조정 */
    background-color: #e74c3c;
    color: white;
}

.product-register-btn:hover {
    background-color: #c0392b;
}

/* Container 공통 스타일 */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer 스타일 */
footer {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    font-size: 16px;
}

footer p {
    margin: 0;
    color: #9f9f9f;
}

/* 버튼 스타일 통일 */
button, .login-button {
    padding: 10px 20px;
    background-color: #b88e2f;
    color: #fff;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, .login-button:hover {
    background-color: #1e1e1e;
}
