/* 채팅 컨테이너 스타일 */
.chat-container {
    max-width: 800px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

/* 채팅 메시지 창 */
.chat-messages {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* 메시지 */
.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message-image {
    max-width: 200px;  /* 이미지 크기 제한 */
    max-height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.message .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

/* 메시지 내용 */
.message .content {
    max-width: 70%;
}

.message .content .username {
    font-weight: bold;
    font-size: 0.9rem;
}

.message .content .text {
    margin: 5px 0;
}

.message .content .time {
    font-size: 0.8rem;
    color: #777;
}

/* 나의 메시지 */
.my-message {
    justify-content: flex-end;
}

.my-message .content {
    text-align: right;
}

.my-message .profile-img {
    order: 2;
    margin-left: 15px;
    margin-right: 0;
}

/* 채팅 폼 */
.chat-form {
    display: flex;
    align-items: center;
}

.chat-form textarea {
    resize: none;
    height: 50px;
    flex-grow: 1;
    margin-right: 10px;
}

/* 메시지 전송 버튼 */
.chat-form button {
    height: 50px;
    width: 100px;
    border-radius: 50%;
    background-color: #b88e2f; 
    border: none; /* 테두리 제거 */
    color: white; /* 아이콘 색상 */
    font-size: 15px; /* 아이콘 크기 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.chat-form button:hover {
    background-color: #99751f; /* 호버 시 배경색 */
}
