<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[SBmarket] 회원가입 인증</title>
</head>
<body>
    <h2>{{ user.username }}님, SBmarket에 가입해 주셔서 감사합니다.</h2>
    <p>아래 링크를 클릭하여 이메일 인증을 완료해 주세요:</p>

    <p>
        <a href="https://{{ domain }}/api/accounts/users/activate/{{ pk }}/{{ token }}">
            이메일 인증 링크
        </a>
    </p><br><br>

    <p>링크가 작동하지 않는 경우, 아래 URL을 복사하여 브라우저 주소창에 붙여 넣어주세요:</p>
    <p>http://{{ domain }}/api/accounts/users/activate/{{ pk }}/{{ token }}</p>

    <br>

    <p>감사합니다,<br>SBmarket 팀</p>
</body>
</html>
