{% extends "base.html" %}
{% load static %}


{% block title %}로그인 - 딸기 마켓{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<h2>로그인</h2>
<form id="login-form">
    {% csrf_token %}
    <div class="input-group">
        <label for="username">ID</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">로그인</button>
    <div id="message"></div>
</form>

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% endblock %}
