{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <header>
        <div class="header-content">
            <h1>딸기 마켓</h1>
            <nav>
                <ul>
                    <li><a href="#">내 상점</a></li>
                    <li><a href="#">1:1 채팅</a></li>
                </ul>
            </nav>
            <button class="signup-button" onclick="location.href='/api/accounts/signup-page/'">회원가입</button>
        </div>
    </header>

    <div class="container">
        <h2>Login</h2>
        <form id="login-form">
            <div class="input-group">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" placeholder="아이디를 입력하세요" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>
            <button type="submit">로그인</button>
        </form>
        <p id="message"></p>
    </div>

    <footer>
        <p>&copy; 2024 딸기 마켓. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
