{% extends "base.html" %}
{% load static %}

{% block title %}딸기 마켓 - 사용자 구매 내역{% endblock %}

{% block content %}
<div class="container mt-4">
    <div id="profile-info" data-username="{{ profile_user.username }}">
    </div>
    
    <h2>{{ profile_user.username }}님의 구매 내역</h2>
    <div id="purchase-history-list" class="purchase-history-list d-flex flex-wrap mt-4">
        <!-- 구매 내역이 채워질 예정 -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/purchase_history.js' %}"></script>
{% endblock %}
