{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="{% static 'images/logo.png' %}" alt="로고" style="height: 50px; cursor:pointer;"  onclick="javascript:location.href='/'">
            <nav>
                <ul>
                    <li><a href="#">내 상점</a></li>
                    <li><a href="#">1:1 채팅</a></li>
                </ul>
            </nav>
            <button class="login-button" onclick="location.href='/api/accounts/login-page/'">로그인</button>
        </div>
    </header>

    <div class="container">
        <h2>Sign IN</h2>
        <p>This is the place to sign up for membership.</p>
        <form id="signup-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="check_password">Check Password</label>
                <input type="password" id="check_password" name="checkpassword" required>
            </div>
            <div class="input-group">
                <label for="nickname">NickName</label>
                <input type="text" id="nickname" name="nickname" required>
            </div>
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="birth">Birth</label>
                <input type="date" id="birth" name="birth" required>
            </div>
            <div class="input-group">
                <label for="sample6_postcode">Address</label>
                <input type="text" id="sample6_postcode" name="postcode" placeholder="우편번호" readonly><br><br>
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br><br>
                <input type="text" id="sample6_address" name="mainaddress" placeholder="주소" readonly><br><br>
                <input type="text" id="sample6_detailAddress" name="subaddress" placeholder="상세주소"><br><br>
                <input type="text" id="sample6_extraAddress" name="extraaddress" placeholder="참고항목" readonly><br><br>
            </div>
            <div class="input-group">
                <label for="introduce">Introduce</label>
                <input type="text" id="introduce" name="introduce" required>
            </div>
            <button type="submit">회원가입</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 딸기 마켓. All rights reserved.</p>
    </footer>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="{% static 'js/signup.js' %}"></script>
</body>

</html>
